In [2]:
import pandas as pd

# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv" 
cheminDuFichierCSV2 = "./../data/dictionary/Buchanan_PronChar_counts.csv"
cheminDuFichierCSV3 = "./../data/dataframe/BigiRichSample.csv" 


# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV2, delimiter=";", encoding="utf8")
Buch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")
Bigi = pd.read_csv(cheminDuFichierCSV3, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
Bigi

                  hwd        pronSampa       ipa
0                   a                @         ə
1                a(2)               eI         ?
2             a'ready      @ r\ E d i:    əɹɛdiː
3                 a's             eI z        ?z
4                  a.               eI         ?
...               ...              ...       ...
131098  zyuganov's(3)  z u g A n A v z  zugɑnɑvz
131099  zyuganov's(4)  z u g A n A f s  zugɑnɑfs
131100        zywicki     z i w I k i:   ziwɪkiː
131101           zzzz           z i: z      ziːz
131102        zzzz(2)              z z        zz

[131103 rows x 3 columns]

In [3]:
dfDicoBuch

   char    occ graph
0     a   3207     a
1     ʹ  12725   NaN
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [4]:
def motVedette(mot):
    cheminDuFichierCSV = "./../data/dictionary/Buchanan_PronChar_counts.csv"
    pronchar = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")
    TruePron = []
    transfo = ''
    for lettre in mot:
        if (pronchar[pronchar['char']== lettre]['graph'].isnull().values[0]):
            transfo = ''
        else: transfo = pronchar[pronchar['char']== lettre]['graph'].values[0]
        TruePron.append(transfo)
    TruePron = ''.join(TruePron)
    return TruePron

In [5]:
motVedette("ăbăʹft")

'abaft'

In [6]:
Buch['motVedette'] = Buch.apply(lambda x: motVedette(x['pron']),1)

In [7]:
Buch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica

In [8]:

# afficher à l'écran un échantillon du tableau
Bigi

                  hwd        pronSampa       ipa
0                   a                @         ə
1                a(2)               eI         ?
2             a'ready      @ r\ E d i:    əɹɛdiː
3                 a's             eI z        ?z
4                  a.               eI         ?
...               ...              ...       ...
131098  zyuganov's(3)  z u g A n A v z  zugɑnɑvz
131099  zyuganov's(4)  z u g A n A f s  zugɑnɑfs
131100        zywicki     z i w I k i:   ziwɪkiː
131101           zzzz           z i: z      ziːz
131102        zzzz(2)              z z        zz

[131103 rows x 3 columns]

In [9]:
import pandas
nvDF=pandas.merge(Bigi, Buch, left_on = ['hwd'], right_on = ['motVedette'])

In [10]:
nvDF

,hwd,pronSampa,ipa,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
0,abacus,{ b @ k @ s,æbəkəs,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,abandon,@ b { n d @ n,əbændən,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
2,abandoned,@ b { n d @ n d,əbændənd,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
3,abash,@ b { S,əbæʃ,2,ăbăʹſh,F.,NaN,NaN,v.,9.0,19,abash
4,abate,@ b eI t,əb?t,2,ăbāʹte,F.,NaN,NaN,v.,10.0,19,abate
...,...,...,...,...,...,...,...,...,...,...,...,...
10328,zenith,z i: n @ T,ziːnəθ,2,zĕʹnith,NaN,NaN,NaN,n.,11.0,241,zenith
10329,zest,z E s t,zɛst,1,zĕſt,NaN,NaN,NaN,n.,13.0,241,zest
10330,zink,z I N k,zɪŋk,1,zĭnk,NaN,NaN,NaN,n.,14.0,241,zink
10331,zodiac,z @U 4 i: { k,zoʊɾiːæk,3,zōʹdĭac,NaN,NaN,NaN,n.,16.0,241,zodiac
10332,zone,z @U n,zoʊn,1,zōne,NaN,NaN,NaN,n.,18.0,241,zone

In [11]:
nvDF.to_csv('./../data/dataframe/dataframe.csv', encoding='utf-8')